.phoenixTitle {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 250%;
    font-weight: bold;
}

.phoenixCenterImage {
    display: block;
    filter: blur(0.6px);
    margin: auto;
}

.phoenixContent {
    height: 100%;
    margin: auto;
    text-align: center;
    width: 100%;
}
